.gstar{width:660px;height:180px}
.gstar em{font-weight:bold}
.gstar #starboard{width:320px;height:180px;background:#333;float:left}
.gstar aside{float:left;height:140px;width:130px;padding:20px;background:#ddd}
